/**
 * Created by kongxiaojian on 16/11/8.
 */
@import "compass";
$color01:#f1f1f1;
$color02:#161616;
$color03:#777777;
$color04:#0a0a0a;
@function rpx($size) {
    $tempSize: $size/640;
    @if (unit($tempSize)=='') {
        @return $tempSize*1rem;
    } @else if (unit($tempSize)=='px') {
        @return $tempSize/1px*1rem;
    } @else {
        @return $size;
    }
}
a{
    text-decoration: none;
}
.main-iframe {
    width: 96%;
    margin: 0px auto;
    padding: 100px 0;
    .navmenu {
        overflow: hidden;
        zoom: 1;
        padding-bottom: 50px;
        li {
            float: left;
            margin-right: 10px;
            margin-bottom: 6px;
            width: 100px;
            @include transition(all,1s);
            a {
                display: block;
                color: $color01;
                text-align: center;
                cursor: pointer;
                height: 40px;
                line-height: 40px;
                background-color: $color03;
                border-radius: 4px;
                @include transition(all,1s);
            }
        }
    }
}
@media screen and (max-width:960px){

}
@media screen and (max-width:700px){

}
@media screen and (max-width: 465px){
    .main-iframe {
        .navmenu {
            li {
                width: 80px;
                a {
                    height: 36px;
                    line-height: 36px;
                    font-size: 14px;
                }
            }
        }
    }
}