/**
 * Created by kongxiaojian on 16/11/8.
 */
@import "compass";
@import "compass/reset";
$color01:#fafafa;
$color02:#161616;
$color03:#777777;
$color04:#0a0a0a;
$menu_li_len:4;
@function rpx($size) {
    $tempSize: $size/640;
    @if (unit($tempSize)=='') {
        @return $tempSize*1rem;
    } @else if (unit($tempSize)=='px') {
        @return $tempSize/1px*1rem;
    } @else {
        @return $size;
    }
}
@font-face {
    font-family: 'stopd';
    src: url('../font/STOPD.eot');
    src:
        url('../font/STOPD.eot?#font-spider') format('embedded-opentype'),
        url('../font/STOPD.woff') format('woff'),
        url('../font/STOPD.ttf') format('truetype'),
        url('../font/STOPD.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: $color01;
}
a{
    text-decoration: none;
    @include transition(color 0.3s);
}
.logo,.font-stopd{
    font-family: 'stopd';
}
.navbox {
    position: fixed;
    top:0;
    left: 0;
    width: 205px;
    height: 100%;
    padding:90px 0 0 60px;
    font-family: 'Arial';
    background-color: $color02;
    z-index:999;
    @include box-sizing(border-box);
    @include transition(all 0.5s);
    .logo{
        display: inline-block;
        width: auto;
        height: 34px;
        line-height: 34px;
        color: $color01;
        font-size: 34px;
        margin-left: -25px;
        @include transition(all 0.5s);
    }
    .navmenu{
        line-height: 35px;
        padding-top: 35px;
        font-size: 14px;
        overflow: hidden;
        @include transition(height 0.4s);
        .current-nav{
            a{
                color: $color01;
            }
        }
        a{
            color: $color03;
            &:hover{
                color: $color01;
            }
        }
    }
}
.main{
    position: absolute;
    top: 0;
    right: 0;
    border:0;
    background:none;
    height: 100%;
    width: 100%;
    padding-left: 205px;
    @include box-sizing(border-box);
    @include transition(padding 0.5s);
}
@media screen and (max-width:960px){
    .navbox{
        height: 60px;
        width: 100%;
        padding: 0;
        .logo{
            height: 28px;
            line-height: 28px;
            font-size: 28px;
            margin: 16px;
        }
        .menu-right{
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            .menu-ctr{
                position: absolute;
                right: 16px;
                top: 30px;
                height: 30px;
                width: 30px;
                margin-top: -17px;
                border:1px solid transparent;
                border-radius: 5px;
                cursor: pointer;
                @include transition(all 0.4s);
                span{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    margin-top: -1px;
                    background: $color01;
                    @include transition(all 0.4s);
                    &:before,&:after{
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $color01;
                    }
                    &:before{
                        top: -14px;
                    }
                    &:after{
                        bottom: -14px;
                    }
                }
            }
            &.hover{
                .menu-ctr{
                    border:1px solid $color01;
                    @include transform(rotateZ(45deg));
                    span{
                        @include transform(rotateZ(-45deg) scale(0.5));
                    }
                }
                &+.navmenu{
                    height: ceil($menu_li_len/2)*(35px+15px*2);
                }
            }
        }
        .navmenu {
            width: 100%;
            position: absolute;
            top: 60px;
            background-color: $color04;
            left: 0px;
            padding: 0;
            height: 0;
            display: block;
            li {
                width: 50%;
                float: left;
                text-align: center;
                padding: 15px 0;
            }
        }
    }
    .main{
        width: 100%;
        padding-left: 0;
        padding-top: 60px;
    }
}
@media screen and (max-width:700px){

}