/**
 * Created by kongxiaojian on 16/11/8.
 */
//compile --output-style compressed
@import "compass";
@import "compass/reset";
@import "../../../css/common";
.test{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #000;
}
@media screen and (max-width:960px){

}
@media screen and (max-width:700px){

}